footer {
  text-align: center;
  background-color: transparent;
  position: fixed;
  padding: 15px 15px 0 15px;
  bottom: 0;
  width: 100%;
}

footer h2 {
  background-color: transparent;
  color: black;
}
