footer {
  padding: 15px;
  background-color: #526e61;
  position: fixed;
  padding: 15px 15px 15px 15px;
  bottom: 0;
  width: 100%;
}

footer span {
  background-color: #526e61;
  color: #f4f1de;
  font-weight: bolder;
}
