.grass {
    position: absolute;
    /*   display: inline-block; */
    bottom: -0.5rem;
    width: 100%;
    height: 8rem;
    overflow: hidden;
  /*     opacity:0; */
  }
  .blade {
    height: 6rem;
    width: 1rem;
    background-size: 300px 300px;
    background-color: #00e676;
    border-radius: 100% 0 50% 0;
    float: left;
    transform-origin: 50% 100%;
    margin-top: 2rem;
    margin-left: -0.5rem;
  /*   box-shadow: rgba(0,0,0, 0.25) 0.25rem 1rem 0.25rem; */
  }
  .blade:nth-of-type(2n) {
    width: 0.75rem;
    transform: rotate(10deg);
    height: 5rem;
    margin-top: 3rem;
  }
  .blade:nth-of-type(3n) {
    background-color: #00c853;
    border-radius: 0 100% 0 50%;
    height: 7rem;
    margin-top: 1rem;
    /*   transform: rotate(-10deg); */
  }
  .blade:nth-of-type(4n) {
    border-radius: 0 100% 0 50%;
    transform: rotate(-8deg);
  }
  .blade:nth-of-type(5n) {
    transform: rotate(4deg);
    border-radius: 0 100% 0 50%;
  }
  .blade:nth-of-type(6n) {}
  .blade:nth-of-type(7n) {
    background-color: #81c784;
    border-radius: 100% 0 50% 0;
    animation: wind-seven 7s ease alternate infinite;
  }
  .blade:nth-of-type(8n) {
  }
  .blade:nth-of-type(9n) {
    background-color: #4caf50;
    animation: wind-three 7s ease alternate infinite;
  }
  .blade:nth-of-type(13n) {
    background-color: #66bb6a;
    height: 7.5rem;
    margin-top: 0.5rem;
  }
  .blade:nth-of-type(16n) {
    width: 0.5rem;
    transform: rotate(-5deg);
    height: 8rem;
    margin-top: 0;
    animation: wind-five 7s ease alternate infinite;
  }
  .blade:nth-of-type(24n) {
    transform: rotate(12deg);
    height: 7.5rem;
    margin-top: 0.5;
  }
  
  @keyframes wind-three {
    100% {
      transform: rotate(5deg);
    }
  }
  
  @keyframes wind-five {
    100% {
      transform: rotate(5deg);
    }
  }
  
  @keyframes wind-seven {
    100% {
      transform: rotate(7deg);
    }
  }
  
  @keyframes wave {
    0% {
      transform: rotate(-30deg);
    }
    10% {
      transform: rotate(55deg);
    }
    15% {
      transform: rotate(35deg);
    }
    20% {
      transform: rotate(55deg);
    }
    25% {
      transform: rotate(45deg);
    }
    30% {
      transform: rotate(60deg);
    }
    35% {
      transform: rotate(45deg);
    }
    40% {
      transform: rotate(55deg);
    }
    46% {
      transform: rotate(40deg);
    }
    50% {
      transform: rotate(55deg);
    }
    55% {
      transform: rotate(45deg);
    }
    60% {
      transform: rotate(58deg);
    }
    65% {
      transform: rotate(42deg);
    }
    70% {
      transform: rotate(55deg);
    }
    75% {
      transform: rotate(40deg);
    }
    80% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(-30deg);
    }
  }