.Horse {
  --note-height: 88px;
  background-color: #010d1e;
  color: #cacaca;
  height: var(--note-height);
  margin-bottom: 8px;
  max-width: 380px;
  padding: 8px 0 8px 8px;
  position: relative;
}

.delete {
  --note-button-height: 32px;
  background-color: #041a3a;
  border: 0;
  color: #bdbcbc;
  float: right;
  font-size: 12px;
  height: var(--note-button-height);
  position: relative;
  top: calc((var(--note-button-height) + 32px) * -1);
  transform-origin: right bottom;
  transform: rotate(-90deg);
  width: calc(var(--note-height));
}

.delete:hover {
  background-color: #bd0909;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.horse-name {
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0;
  max-width: 80%;
  min-height: 24px;
}

.horse-name a {
  color: black;
  display: block;
  text-decoration: none;
}
.horse-name a:hover {
  color: #ffb72f;
}

.horse-age {
  bottom: 8px;
  color: black;
  font-size: 14px;
  position: absolute;
}
.horse-stall {
  bottom: 8px;
  color: black;
  font-size: 14px;
  position: absolute;
}
