.HorsePageNav {
  padding: 10%;
}

.back-button {
  color: white;
  font-weight: 400;
}

.back-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.rider-name {
  font-size: 40px;
  height: 50vh;
  margin: 0 0 0 auto;
  text-orientation: upright;
  width: 75px;
  writing-mode: vertical-lr;
}
