.App {
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  /* min-height: 100vh; */
  /* background-image: url(./images/grassback.jpg); */
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-nav {
  /* background-color: #f4f1de; */
  color: #fff;
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
}

.App-header {
  /* background-color: #f4f1de; */
  color: #bdbdbd;
  grid-area: header;
  /* padding-left: 16px; */
  padding-top: 32px;
  font-size: larger;
}
.App-header a {
  color: black;
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
}
.App-main {
  /* background-color: #f4f1de; */
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;
}

.App-main h2 {
  color: white;
}

@media only screen and (max-device-width: 480px) {
  .App {
    display: grid;
    grid-template-areas: "sidebar header" "sidebar main";
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 120px 1fr;
    /* min-height: 100vh; */
    /* background-image: url(./images/grassback.jpg); */
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .App-main {
    /* background-color: #f4f1de; */
    grid-area: main;
    height: calc(80vh - 100px);
    overflow: auto;
  }
}
