.App {
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;

  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-nav {
  color: #fff;
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
  padding-left: 0;
}

.App-header {
  color: #bdbdbd;
  grid-area: header;
  /* padding-left: 16px; */
  padding-top: 32px;
  /* padding-bottom: 16px; */
  font-size: larger;
}
.App-header a {
  color: black;
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
}
.App-main {
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;
}

.App-main h2 {
  color: white;
}

@media only screen and (max-device-width: 480px) {
  .App {
    display: grid;
    grid-template-areas: "sidebar header" "sidebar main";
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 120px 1fr;

    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .App-main {
    grid-area: main;
    height: calc(80vh - 100px);
    overflow: auto;
  }
}
