/* Full-width inputs */
.Signup input[type='text'],
.Signup input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ac9269;
  border-radius: 3px;
  box-sizing: border-box;
}

label {
  font-weight: bolder;
}

/* Set a style for all buttons */
.Signup button {
  background-color: #ac9269;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.Signup button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}

.sign-up-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.sign-up-page {
  width: 380px;
  height: 450px;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.5;
  border-radius: 2%;
}
