.App {
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
}

.App-nav {
  background-color: #f4f1de;
  color: #fff;
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
}

.App-header {
  background-color: #f4f1de;
  color: #bdbdbd;
  grid-area: header;
  padding-left: 16px;
  padding-top: 32px;
  font-size: larger;
}
.App-header a {
  color: #3d405b;
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
}
.App-main {
  background-color: #f4f1de;
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;
}
