* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* teddy added  */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  /* Solid fallback for old browsers */
  background: #0099ff;
  /* Firefox */
  background: -moz-linear-gradient(top, #0099ff, #00ccff);
  /* WebKit - Chrome and Safari */
  background: -webkit-linear-gradient(top, #0099ff, #00ccff);
  /* Internet Explorer 10 */
  background: -ms-linear-gradient(top, #0099ff, #00ccff);
  /* Opera */
  background: -o-linear-gradient(top, #0099ff, #00ccff);
  /* general syntax */
  background: linear-gradient(top, #0099ff, #00ccff);
}
.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}
.welcome-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: larger;
}
.welcome-text ul {
  list-style-type: disc !important;
  text-align: left;
  padding: 15px 0 15px 25px;
  /* width: 50%; */
}
.button-welcome {
  border-radius: 15px;
  outline: 0;
  display: inline-block;
  padding: 7px 10px;
  margin-left: 10px;
  color: black;
  background-color: #ddd;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.button-welcome:hover {
  background-color: #555;
  color: white;
}

@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 23px;
    padding-top: 10%;
  }
  h3 {
    font-size: 20px;
  }
  ul li {
    font-size: 15px;
    padding: 0%;
  }
  .footer {
    font-size: 15px;
  }
}
